.add_project_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add_project_form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.md-RichEditor-root {
    width: 90vw;
}
