.layout {
    margin: 30px 5vw 30px 5vw;
}

.modalStyle p {
    padding: 10px;
}

.modalStyle {
    position: absolute;
    top: initial;
    left: 40%;
    right: initial;
    bottom: 0px;
    border: 1px solid rgb(204, 204, 204);
    background-color: #e74c3c;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 0px;
    text-align: center;
}

.error_header {
    margin: 0;
    background-color: #c0392b;
    padding: 8px 0px;
}

.error_header h2 {
    display: inline;
    padding-left: 17px;
}

.error_header img {
    height: 17px;
    float: right;
    margin-right: 10px;
}

.text_field > div {
    display: flex;
    align-self: baseline;
}

/* If a input field is disabled the flex align-items isn't working */

input:nth-child(1) {
    text-align: center;
}

.layout h1 {
    color: rgb(0, 188, 212);
    font-family: 'Rouge Script', cursive;
    font-size: 80px;
    font-weight: normal;
    line-height: 48px;
    margin: 0.3em 0 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
    max-width: 100%;
    word-wrap: break-word;
}
