.project_row .progress {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
}

.project_row .basic_infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0px;
    overflow: hidden;
    width: 120px;
}

.project_row .percentage {
    padding-bottom: 10px;
}

.project_row .author {
    color: rgba(0, 0, 0, 0.541176);
    font-size: 14px;
    white-space: nowrap;
}

.project_row .actions_layer {
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.project_row .logo_list {
    height: 60px;
    margin-right: 10px;
}

.project_row .dropdown_project {
    display: flex;
    flex-direction: column;
}
